@charset "UTF-8";

body {
	font-family: Arial;
	color: white;
	background: #242424;
	text-align: center;
	margin-top: 50px;
}

#bug {
	font-size: small;
	float: left;
}

#copy {
	font-size: small;
	float: right;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: left;
	padding: 15px;
	padding-top: 30px;
	background: #181818;
	border: 2px solid #404040;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#inputimagecontainer {
	position: relative;
}

#inputimagesbutton {
	display: block;
	width: 105px;
	height: 25px;
	overflow: hidden;
	position: absolute;
	left: 350px;
}

#inputimages {
	cursor: pointer;
	height: 1000px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

#addimages {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

#inputtags {
	width: 400px;
}
	
#imageslist {
	display: none;
	margin-left: 50px;
	font-size: small;
}

#imageslistentry {
	margin-bottom: 2px;
}

#loading {
	width: 250px;
	height: 32px;
	padding: 10px;
	background: #181818;
	border: 2px solid #404040;
	position: absolute;
	margin-left: -125px;
	margin-top: -25px;
	left: 50%;
	top: 50%;
	z-index: 101;
	display: none;
}

#loading img {
	vertical-align: middle;
	padding-right: 20px;
	margin-left: -20px;	
}

a {
	color: #FFD100;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

#content .text {
	display: block;
	float: left;
	width: 50px;
	font-size: medium;
}

#info {
	padding-left: 50px;
	font-size: small;
}

#browse {
	text-align: right;	
}

#preview {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	display: block;
	text-align: center;
}

.tabletext {
	width: 75px;
}

th {
	padding-bottom: 5px;	
}

.tablecode {
}

table input {
	font-size: 8pt;
}

#tags {
	font-size: small;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0;
}

.tags {/*
	padding: 5px;
	display: block;
	float:left;*/
}

.lightbox {
	padding: 5px;
}

p.tagMatches {
	margin-left: 50px;
}

p.tagMatches span {
	padding: 2px;
	margin-right: 4px;
	cursor: pointer;
	font-size: small;
	color: #FFD100;
}

.previewimage {
	text-align: center;
	font-size: x-small;     
	float: left;
	margin: 5px;
	width: 150px;
	height: 170px;
}

#search, #login {
	text-align: center;
}

#pages {
	text-align: center;
	font-size: small;
}

#inputopenid_identifier {
	background: url('/images/openid-login-bg.gif') no-repeat;
	background-color: #ffffff;
	background-position: 0 50%;
	padding-left: 18px;
	margin-bottom: 5px;
}

#inputopenid_submit {
	margin-left: 10px;	
}

#login_icon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	cursor: pointer;
	font-size: small;
	color: #FFD100;
	background-color: #161616;
	border: 2px solid #404040;
	border-top: none;
	border-right: none;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#login_icon img {
	float: left;
	margin-right: 5px;
}

#login_form, #login_status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: #161616;
	border: 2px solid #404040;
	border-top: none;
	border-right: none;
	font-size: small;
	text-align: left;	
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#login_form {
	display: none;
	text-align: right;
}

#openid_get {
	margin-top: 5px;
	float: left;
}

#login_form #inputopenid_submit {
	float: right;
	margin-bottom: 5px;
}

#imagedelete {
	margin-left: 5px;
}

#imagedelete img {
	border: none;
}

#taglist {
	position: absolute;
	left: 5px;
	top: 108px;
	width: 200px;
	text-align: left;
	background-color: #181818;
	border: 2px solid #404040;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#taglist ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

#dropbox {
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 50;
}

#dropbox h1 {
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 50px;
	margin: 0;
	margin-left: -200px;
	margin-top: -25px;
	padding: 0;
}

#imagePopup {
	position: absolute;
	display: none;
	background: #181818;
	border: 2px solid #404040;
	padding: 5px;
	padding-bottom: 2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 5;
}

#imagePopup img {
	max-width: 150px;
	max-height: 150px;
	margin: 0;
}