@charset "UTF-8";

body {
	font-family: Arial;
	color: white;
	background: #242424;
	text-align: center;
	margin-top: 50px;
}

#copy {
	font-size: small;
	text-align: right;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: left;
	padding: 15px;
	padding-top: 30px;
	background: #181818;
	border: 2px solid #404040;
}

a {
	color: #FFD100;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

#content .text {
	display: block;
	float: left;
	width: 50px;
}

#info {
	padding-left: 50px;
	font-size: small;
}

#browse {
	text-align: right;	
}

#preview {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	display: block;
	text-align: center;
}

.tabletext {
	width: 75px;
}

th {
	padding-bottom: 5px;	
}

.tablecode {
}

table input {
	font-size: 8pt;
}

#tags {
	font-size: small;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0;	
}

.tags {/*
	padding: 5px;
	display: block;
	float:left;*/
}

.lightbox {
	padding: 5px;
}

p.tagMatches {
	margin-left: 50px;
}

p.tagMatches span {
	padding: 2px;
	margin-right: 4px;
	cursor: pointer;
	font-size: small;
	color: #FFD100;
}

.previewimage {
	text-align: center;
	font-size: x-small;     
	float: left;
	margin: 5px;
	width: 150px;
	height: 160px;
}

#search, #login {
	text-align: center;
}

#pages {
	text-align: center;
	font-size: small;
}

#inputopenid_identifier {
	background: url(images/openid-login-bg.gif) no-repeat;
	background-color: #ffffff;
	background-position: 0 50%;
	padding-left: 18px;
	margin-bottom: 5px;
}

#inputopenid_submit {
	margin-left: 10px;	
}

#login_icon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

#login_form, #login_status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: #161616;
	border: 2px solid #404040;
	border-top: none;
	border-right: none;
	font-size: small;
	text-align: left;	
}

#login_form {
	display: none;
}

#openid_get {
	margin-top: 5px;
	float: left;
}

#login_form #inputopenid_submit {
	float: right;
	margin: 0;
}