@charset "UTF-8";

body {
	font-family: Arial;
	color: white;
	background: #242424;
	text-align: center;
	margin-top: 50px;
}

#copy {
	font-size: small;
	text-align: right;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: left;
	padding: 15px;
	padding-top: 30px;
	background: #181818;
	border: 2px solid #404040;
}

a {
	color: #FFD100;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

#content .text {
	display: block;
	float: left;
	width: 50px;
}

#info {
	padding-left: 50px;
	font-size: small;
}

#browse {
	text-align: right;	
}

#preview {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	display: block;
	text-align: center;
}

.tabletext {
	width: 75px;
}

th {
	padding-bottom: 5px;	
}

.tablecode {
}

table input {
	font-size: 8pt;
}

#tags {
	font-size: small;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0;	
}

.tags {/*
	padding: 5px;
	display: block;
	float:left;*/
}

.lightbox {
	padding: 5px;
}

p.tagMatches {
	margin-left: 50px;
}

p.tagMatches span {
	padding: 2px;
	margin-right: 4px;
	cursor: pointer;
	font-size: small;
	color: #FFD100;
}

.previewimage {
	text-align: center;
	font-size: x-small;     
	float: left;
	margin: 5px;
	width: 150px;
	height: 160px;
}

#search {
	text-align: center;
}

#pages {
	text-align: center;
	font-size: small;
}
